/* Responsive adjustments */
/* Larger Views ******************************/
@media screen and (min-width: 650px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    #main-nav ul {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .gallery figure {
        margin: 0.5em 0;
        /* Add some margin between figures on smaller screens if needed */
    }

}