@media screen and (min-width: 500px) {
    header {
        background-color: #000;
        color: #fff;
    }

    main {
        grid-template-columns: 1fr 1fr;
        /* Creates two columns of equal size */
        /* grid-template-columns: repeat(2, 1fr); Creates two equal columns */
    }

    section {
        padding: 2rem;
        background-color: #fff;
    }

}